.intro {
	background: #2c3641
	position: fixed
	z-index: 101
	width: 100%
	height: 100%
	display: flex
	justify-content: center
	align-items: center
}

.column {
    float: left;
    width: 60%;
    padding: 5px;
 
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    bottom:0;
}
.intro__line-right{
	
	border-right: 2px solid #ccc;
	left: 0;
}

.intro__footer {
	align-items: flex-end //it will force to page cant scroll
	bottom: 0px
	display: flex
	justify-content: space-between
	padding: space(2)
	position: absolute
	width: 100%

}

.intro__footer-right{
	
	color:#f2f2f2
	font-size: 12px
	width:	100px
	position: relative
	text-decoration: none
	top: 0

}
.intro__footer-left{
	
	color:#f2f2f2
	font-size: 12px
	width: 300px
	position: relative
	text-decoration: none
	top: 0
	left: 0
}
.intro__footer-link--left {
	color:#ffffff
	font-size: 15px
	width: 300px
	position: relative
	text-decoration: none
	top:0
	font-weight:bold
}

.intro__footer-link--right {
	color:#ffffff
	font-size: 16px
	width: 300px
	position: relative
	text-decoration: none
	top:0
	right: 12px
	font-weight:bold
	padding-right: 100px;
}

.intro__footer-image {
	width: 100%
}
	
.intro__content-mobile-incompatible {
	display: none
}

.intro__inner {
	text-align: center
	padding-top: space(3)
	padding-bottom: space(3)
	max-width: 1060px
	z-index: 2
	width: 100vw
	@extend .font__size--normal
}


.intro__cta {
	margin-top: space(2)
}

.wizard__browser-warning {
	display: none
}

.intro__image {
	width: 100%
	max-width: 400px
}

.intro__title {
	margin-top: space(1)
	width: 100%
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.intro__title-image {

	width: 90%
	height: 90%
	margin-top: 50px
	&.intro__title-image--desktop{
		display: block
	}

	&.intro__title-image--mobile{
		display: none
	}
}

.intro__title-image--teachable {
	margin-right: 25px
}

.intro__title-image--machine {

}

.intro__text {
	max-width: 420px	
	margin-top: 0
	margin-bottom: 0
	margin-left: auto
	margin-right: auto
	white-space: nowrap
	color: #ffffff
}

.intro__text-break {
	display: block
}

.intro__video {
	position: relative
	max-width: 800px
	height: 0
	margin-left: auto
	margin-right: auto
	margin-bottom: space(2)
	overflow: hidden
}
.intro__video-wrapper {
	position: relative
	padding-bottom: 56.25% /* 16:9 */
	padding-top: 25px
	height: 0
	margin-bottom: space(2)
}
.intro__video-player {
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: $color__black
}

@media screen and (max-width: 900px) {

	.intro__inner {
		padding-top: 0
	}
	
	.intro__content-desktop {
		display: none
	}
	
	.intro__content-mobile {
		background: $color__white
		border-radius: 5px
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
		margin: 0 auto
		padding: 25px
		position: relative
		text-align: left
		width: 90%
	}

	.intro__content-mobile-incompatible {
		display: none
		margin: 20px auto 0
		width: 80%

		a {
			text-decoration: none
		}
	}

	.intro__content-mobile-header {
		color: #58595b
		line-height: 1.4
	}

	.intro__content-mobile-body {
		color: #828386
	}

	.intro__content-mobile-ok {
		margin-bottom: 0
		text-align: right
	}

	.intro__content-mobile-ok-link {
		display: inline-block
		padding: 10px 20px
		margin-right: -10px
		text-decoration: none
	}

	.intro__text {
		font-size: 14px
	}

	.intro__button-social {

		& + & {
			margin-left: 10px
		}
	}

	.intro__title {
		height: 70px
		margin-bottom: space(0)
		margin-top: 0
	}

	.intro__cta {
		margin-top: space(2)
	}

	.intro__footer-link--left {
		width: 50%
	}

	.intro__title-image {
		height: 70px
		margin: 0 auto
		max-width: 280px
		width: 60%

		&.intro__title-image--desktop {
			display: none
		}

		&.intro__title-image--mobile {
			display: block
			width: 100%
		}
	}

	.intro__title-image--teachable,
	.intro__title-image--machine {
		margin-right: 0
		max-width: 80%
		height: 30px
	}
}

@media screen and (max-width: 900px) and (orientation: landscape) {

	.intro__inner {
		margin-top: -20px
		padding-bottom: 10px
	}

	.intro__title {
		height: 50px
	}

	.intro__title-image {
		height: 50px
	}

	.intro__content-mobile {
		width: 80%
	}

	.intro__content-mobile-ok {
		margin-top: -10px
	}

	.intro__content-mobile-header {
		font-size: 14px
	}

	.intro__content-mobile-body {
		font-size: 12px
	}

	.intro__footer {
		padding: 5px 20px
	}

	.intro__footer-link--left {
		width: 25%
	}
}
	