.icon {
	display: inline-block
	width: 25px
	height: 20px
	position: relative
	top: 2px
	margin-right: space(0.5)
	background-size: contain
	background-position: center center
	background-repeat: no-repeat
}

.icon--mic {
	background-image url(assets/mic-icon.svg)
}

.icon--cam {
	background-image url(assets/cam-icon.svg)
}

.icon--record {
	background-image url(assets/outputs/record-icon.svg)
}

.icon--stop {
	background-image url(assets/outputs/stop-icon.svg)
}

.icon--recorder {
	background-image url(assets/outputs/recorder-icon.svg)
}

.icon--speaker {
	background-image url(assets/controller.png)
	background-position-y: 100%
	background-size: 100%
}

.icon--large {
	width: 24px
	height: 24px
	top: 5px
}

