.footer {
	background: #2c3641
	width: 100%
	margin-left: auto
	margin-right: auto
	margin-top: space(1)
	margin-bottom: space(1)

	.link {
		display: block
		max-width: 400px
		position: relative
	}
	display: flex
	justify-content: space-between
	padding: space(2)
}



.footer-left{
	
	color:#f2f2f2
	font-size: 12px
	width: 300px
	position: relative
	text-decoration: none
}
.footer-link--left {
	color:#ffffff
	font-size: 15px
	width: 300px
	position: relative
	text-decoration: none
	top:0
	font-weight:bold
}
.footer-link--right {
	color:#ffffff
	font-size: 16px
	width: 300px
	position: relative
	text-decoration: none
	top:0
	right: 12px
	font-weight:bold
	padding-right: 100px;
}
.footer-right{
	
	color:#f2f2f2
	font-size: 12px
	width:	100px
	position: relative
	text-decoration: none
	top: 0

}
@media screen and (max-width: 900px) {
	.footer {
		padding: 0 15px

		.link {
			display: block
			max-width: 400px
			position: relative
		}
	}

	.footer__image {
		width: 100%
	}
}